
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<title>Insert title here</title>
		<script>
		
			window.onload = function() {
				var imgZone = document.querySelector(".ImageRegistration");
				var inputFile = document.querySelector("#fileUpload");
	
				imgZone.addEventListener('click', (e) => {
					inputFile.click(e);
				});
				
				inputFile.addEventListener('change', (e) => {
					var files = e.target.files;
					imageView(files, imgZone);
				});
				
				var imgcheck = "N";
				var imgFile = null;
				
				//ImageRegistration 영역 클릭 이벤트 처리
				const imageView = (f,obj) => {
				
					obj.innerHTML= "";
					imgFile = f[0];
				
					//if(imgFile.size > 1024*1024) { alert("1MB 이하 파일만 올려주세요."); return false; }
					if(imgFile.type.indexOf("image") < 0) { 
						alert("이미지 파일만 올려주세요"); 
						return false;
					}
				
					const reader = new FileReader();
					reader.onload = (e) => {
						obj.innerHTML = "<img src='" + e.target.result +"' id='uploadImg' style='width:350px; height:auto;'>";
					}
					reader.readAsDataURL(imgFile);
					imgcheck = "Y";
				}
			}
			
			const searchAddr = () => {
		
				let addrSearch = document.querySelector("#addrSearch").value;
				if(addrSearch =='') {
					alert("검색할 주소를 입력하세요.");
					addrSearch.focus();
					return false;
				}
		
				window.open(
				          "/user/addrSearch?addrSearch="+ addrSearch + "&pageNum=1",
				          "주소검색",
				          "width=800, height=500, top=50, left=50"
				);
			}
			
			
			const register = () => {
				
				let hospital_id = document.querySelector("#hospital_id");
				let hospital_name = document.querySelector("#hospital_name");
				let password = document.querySelector("#password");
				let password1 = document.querySelector("#password1");
				
				if(hospital_id.value == '') { 
					alert("아이디를 입력하세요."); 
					hospital_id.focus();  
					return false; 
				}
				
				if(hospital_name.value == '') { 
					alert("이름을 입력하세요.");
					hospital_name.focus();
					return false; 
				}
			
				if(password == '') {
					alert("암호를 입력하세요.");
					password.focus();
					return false;
				}
				if(password1 == '') {
					alert("암호를 입력하세요."); 
					password1.focus(); 
					return false; 
				}
				if(password.value != password1.value) {
					alert("입력된 비밀번호를 확인하세요"); 
					password.focus(); 
					return false;
				}
				
				let num = password.value.search(/[0-9]/g);
				
			 	let eng = password1.value.search(/[a-z]/ig);
			 	
			 	let spe = password.value.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
			 	
				if(password.value.length < 8 || password.value.length > 20) {
					alert("암호는 8자리 ~ 20자리 이내로 입력해주세요.");
					return false; 
				}
				else if(password.value.search(/\s/) != -1){
					alert("암호는 공백 없이 입력해주세요."); 
					return false; 
				}
				else if(num < 0 || eng < 0 || spe < 0 ){ 
					alert("암호는 영문,숫자,특수문자를 혼합하여 입력해주세요."); 
					return false; 
				}
			 	
				if(zip.value == '') {
					alert("우편번호를 입력하세요."); 
					zip.focus(); 
					return false;
				}
				document.querySelector("#zipcode").value = zip.value;
				
				if(addr2.value == '') {
					alert("상세 주소를 입력하세요.");
					addr2.focus();
					return false;
				}
				address.value = addr1.value + " " + addr2.value;
				
			 	if(telno.value == '') {
			 		alert("전화번호를 입력하세요."); 
			 		telno.focus();
			 	 	return false; 
			 	 }
			 	//전화번호 문자열 정리
				var beforeTelno = telno.value;
			 	var afterTelno = beforeTelno.replace(/\-/gi,"").replace(/\ /gi,"").trim();
			 	telno.value = afterTelno;
			 	
				if(email.value == '') { 
					alert("이메일주소를 입력하세요."); 
					email.focus(); 
					return false;
				}
				
				
				document.RegistryForm.action = "/master/signup";
				document.RegistryForm.submit();	
			}

		</script>
	</head>
	<body>
		<br>
		<div class="row d-flex justify-content-center">
			<img src="/images/doctor.png" style="width:7%;height:7%;">
		</div>
		<br><br>
		<form class="row g-3" name="registerForm">
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
			    	<h4 style="text-align:center;"><b>&nbsp;응애응애 - 관리자 회원가입</b></h4>
			    	<hr>
			  	</div>
			</div>
			
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
			    	<label for="hospital_id" class="form-label">병원 아이디</label>
			    	<input type="text" class="form-control" id="hospital_id">
			    	<br>
			  	</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
			    	<label for="hospital_name" class="form-label">병원명</label>
			    	<input type="text" class="form-control" id="hospital_name">
			    	<br>
			  	</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
			    	<label for="password" class="form-label">패스워드</label>
			    	<input type="password" class="form-control" id="password">
			    	<span id="pwtext" style='color:red;'></span>
			  	</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
			    	<label for="password1" class="form-label">패스워드 확인</label>
			    	<input type="password" class="form-control" id="password1">
			    	<br>
			  	</div>
			</div>
			
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
					<label for="addrSearch" class="form-label">주소 입력</label>
					<div class="input-group mb-3">
			    		<input type="text" id="addrSearch" class="form-control"> 
  						<button class="btn btn-outline-secondary" type="button" onclick="searchAddr()">검색</button>
					</div>
			  	</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
					<br>
					<input type="text" id="zip" class="form-control" name="zip" placeholder="우편번호가 검색되어 입력됩니다." disabled>
			        <input type="hidden" id="zipcode" name="zipcode">
			  	</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
					<input type="text" id="addr1" class="form-control" name="addr1" placeholder="주소가 검색되어 입력됩니다." readonly>
			  	</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
			        <input type="text" id="addr2" class="form-control" name="addr2" placeholder="상세주소를 입력하세요" >
			        <input type="hidden" id="address" name="address">
			        <br>
			  	</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
			    	<label for="telno" class="form-label">전화번호</label>
			    	<input type="text" class="form-control" id="telno" placeholder="010-1234-5678">
			    	<br>
			  	</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
			    	<div class="mb-3">
			  			<label for="file" class="form-label">관리자 인증</label>
						<input type="file" class="form-control" id="file">
						<div class="invalid-feedback">Example invalid form file feedback</div>
			  		</div>
			  	</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-4">
			    	<button type="submit" id="btn_register" class="btn btn-outline-dark" onclick="register();">회원가입</button>
			  	</div>
			</div> 
		</form>
	</body>
</html>