.layout-menu-fixed .layout-navbar-full .layout-menu,
		.layout-page {
		  padding-top: 0px !important;
		}
		.content-wrapper {
		  padding-bottom: 0px !important;
		}
		@font-face {
		    	font-family: 'GODOM';
		    	src: url('../fonts/GODOM.TTF') format('truetype');
		}
	
		body,h1,h2,h3,h4,h5,h6,p,div p,a,div,span,small{
			font-family: 'GODOM';
		}
		.menu-inner{
			font-weight:bold;
			font-size:14pt;
			color:#454545;
		}
		select, option{
			font-weight:bold;
			color:#454545;
		}
		i{
			color:#1977CC;
			font-weight:bold;
		}
		.card{
			color:#454545;
			font-weight:bold;
		}
		.bx-user-circle{
			color:#fff;
		}